#footer {
    border-top: 3px solid #e5e5e7;
    margin: 2em 0 0 0;
    padding: 2em 0 0 0;
    font-size: 0.9em;
}

#footer a,
#footer p {
    color: #7e858a;
}

#footer .footer-links {
    padding: 0 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#footer .footer-links h4 {
    margin-bottom: 0.75em;
}

#footer .footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer .footer-links ul li {
    margin: 0.5em 0;
}

#footer .footer-icons img {
    display: inline-block;
    margin: 10px 15px 0 0;
}



#footer .footer-bottom {
    border-top: 1px solid #e5e5e7;
    padding: 1.5em 1em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

#footer .footer-bottom .address {
    margin-left: auto;
}

#footer .footer-bottom .terms-pp {
    margin-left: auto;
}
#footer .footer-bottom .terms-pp a {
    text-decoration: underline;
    color: #000;
}

@media screen and (max-width: 768px) {

    #footer .footer-links {
        grid-template-columns: repeat(1, 1fr);
    }

    #footer .footer-links > div {
        margin: 0.75em 0;
    }

    #footer .footer-bottom {
        display: block;
        text-align: center;
    }
    #footer .footer-bottom > div {
        margin: 0.75em 0;
    }

}