/* ******************* GLOBAL CSS ******************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3f3f3f;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 1em 0;
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: calc(100% - 20px);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

a {
    color: #1363df;
    text-decoration: none;
}

#error {
    color: #F00;
    text-align: center;
    margin: 2em 0;
    display: none;
}

/* ******************* LOADER ******************* */
.loader-container {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.loader {}

/* ******************* BANNER ******************* */
#banner .container {
    background-color: #000;
    color: #fff;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

#banner .banner {
    display: flex;
    align-items: center;
}

#banner .text {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 2em;
    text-align: center;
    width: 25%;
    font-weight: 500;
}
#banner .banner-image {
    background: url(../images/banner.jpg);
    background-size: contain;
    min-height: 200px;
    width: 75%;
    margin-left: auto;
}

@media screen and (max-width: 768px) {

    #banner {
        margin-bottom: 80px;
    }
    #banner .banner {
        display: block;
        position: relative;
    }
    #banner .banner-image {
        width: 100%;
    }
    #banner .text {
        position: absolute;
        z-index: 2;
        background-color: #1b252c;
        width: 80%;
        left: 0;
        right:0;
        bottom: -80px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 30px 0 40px 0;
        font-size: 3em;
    }
    #banner .text span {
        display: block;
        background-color: #1363df;
        height: 8px;
        width: 100px;
        position: absolute;
        left: 0;
        right:0;
        bottom: 20px;
        margin: 0 auto;
    }


}

/* *******************  ******************* */
/* *******************  ******************* */