/* ******************* GLOBAL CSS ******************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #616161;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 1em 0;
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: calc(100% - 20px);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

/* ******************* LOADER ******************* */
.loader-container {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.loader {}

/* ******************* BANNER ******************* */
#banner .container {
    background-color: #000;
    color: #fff;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

#banner .banner {
    display: flex;
    align-items: center;
}

#banner .text {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 2em;
    text-align: center;
    width: 25%;
    font-weight: 500;
}
#banner .banner-image {
    background: url(../images/banner.jpg);
    min-height: 200px;
    width: 75%;
    margin-left: auto;
}
/* *******************  ******************* */
/* *******************  ******************* */
/* *******************  ******************* */
/* *******************  ******************* */
/* *******************  ******************* */