#header {
    background-color: #1363df;
    color: #fff;
}

#header .container {
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
}

.header .logo {
    margin-left: 0;
}
.header .header-icon {
    margin-left: auto;
}

.header .header-menu {
    margin-left: auto;
}
.header .header-menu a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1.5em 10px 1.5em 10px;
}
.header .header-menu a.active {
    border-bottom: 4px #fff solid;
}

@media screen and (max-width: 768px) {
    .header .header-menu {
        display: none;
    }
    .header .logo {
        padding: 1em 0;
    }
}